*pkl
*png
*parquet
__pycache__/
.ipynb_checkpoints/
*csv
logs/
dcgm/
mlruns/
tmp*/
*txt
*gz
*plink
checkpoints/
*swp
*output*
data/transforms/
data/datasets/
.mypy_cache/
.vscode/
.env
.claude/skills/
.nfs*