*pkl
*png
*parquet
__pycache__/
.ipynb_checkpoints/
*csv
!delphi_labels_chapters_colours_icd.csv
logs/
dcgm/
mlruns/
tmp*/
*txt
*gz
*plink
checkpoints/
*swp
*output*
data
!data/README.md                                                                                                                                                
!data/dataset.py
!data/generate_disease_metadata.py
!data/transforms/
!deprecated/data
.mypy_cache/
.vscode/
.env
.claude/skills/
.nfs*